.shuttle-split {
  padding: 20px 6%;
  background-image: url('./../../assets/split-form-background.webp');
  min-height: 100vh;
  height: 100%;
  color: #39545e;
  box-sizing: border-box;
}

.shuttle-split-form {
  width: 100%;
  max-width: 450px;
  margin: auto;
  border-radius: 4px;
}

.shuttle-split-form h2 {
  text-align: center;
  padding: 20px 0;
}

.shuttle-split-form img {
  margin: auto;
  height: 150px;
  display: block;
}

.shuttle-split-form button:hover {
  opacity: 1;
}

.shuttle-split-form form {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 20px;
  background-color: rgb(50, 99, 106, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.shuttle-split-form label {
  font-weight: 600;
  margin: 5px 0;
}

.shuttle-split-form input {
  width: 100%;
  padding: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

h2 {
  font-size: 1.2rem;
}

select {
  flex: 1;
  background-color: #dddddd;
}

select {
  border: 2px solid #dddddd;
  /* background: #eeeeee; */
  padding: 10px;
  margin: 10px 0;
  transition: 0.4s;
}

select:hover,
select:focus {
  /* background: #dddddd; */
}

select::picker-icon {
  color: #999999;
  /* transition: 0.4s rotate; */
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  border: 2px solid #dddddd;
  /* background: #eeeeee; */
  padding: 10px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: #39545e;
  color: white;
}

option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}

selectedcontent .icon {
  display: none;
}

option:checked {
  font-weight: bold;
}

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "☑️";
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

::picker(select) {
  top: calc(anchor(bottom) + 1px);
  left: anchor(10%);
}


.shuttle-split-form select option:checked {
  display: none;
}

.shuttle-split-form .form-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  /* background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center; */
  opacity: 0.8;
  /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 25px;
  padding-right: 10px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.option {
  display: grid;
  margin: 20px 0;
}

.costs-list {
  max-width: 450px;
  margin: 30px auto;
  display: block;
  position: relative;
}

.table {
  width: 100%;
}

.table th {
  text-align: left;
  background-color: rgb(128, 128, 128, 0.5);
  padding: 20px 5px;
  color: white;
}

.table td {
  text-align: left;
  padding: 10px 5px;
}

.table tbody>tr:nth-child(odd) {
  background-color: rgb(83, 123, 137, 0.9);
  color: white;
  font-size: 16px;
}

.table tbody>tr:nth-child(even) {
  background-color: rgb(57, 84, 94, 0.9);
  color: white;
  font-size: 16px;
}

.download-ref {
  position: absolute;
  top: -10px;
  right: -10px;
}

.download-ref img {
  height: 40px;
}